<section id="About">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="aboutimg">
                    <img src="../../../assets/images/about/about-us.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="aboutcontent">
                    <h2>ABOUT US</h2>
                    <p>We love what we do and are driven by achieving great results for our clients. Our awards and impressive client list are testament to our high quality approach. We deliver value, creaKvity, results and excepKonal levels of customer service and professionalism. We specialise in infrastructure development, energy and natural resources.</p>
                </div>
                <div class="aboutchild">
                    <div class="row">
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="../../../assets/images/about/enagagement-icon.png" alt="">
                                </div>
                                <div class="iteminfo">
                                    <h3>Engagement</h3>
                                    <p>We are engagement specialists, who have led projects at all levels of the IAP2 spectrum.</p>
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="../../../assets/images/about/coomunication-icon.png" alt="">
                                </div>
                                <div class="iteminfo">
                                    <h3>Communications</h3>
                                    <p>We are award-winning leaders in communications and campaign management.</p>
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>