#Contact{
    .footerinner{
        background-color: #BFDBFF;
        padding: 40px;
    }
    .item{
        h4{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        li{
            a{
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 31px;
                color: #2C2C2C;
            }
        }
    }
}