#Clients{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    .partnerlogosrow1, .partnerlogosrow2{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        img{
            width: 100%;
            height: auto;
            max-width: 150px;
        }
        .item {
            width: 18%;
            margin-right: 20px;
            flex: 0 0 18%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 80px;
        }
    }
}
