<div id="Team">
    <div class="container">
        <div class="title">
            <h2>OUR TEAM</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="item">
                    <div class="profileimg">
                        <img src="../../../assets/images/ourteam/Jessica-d'suza.png" alt="">
                    </div>
                    <div class="profilename">
                        <h3>Jessica D'suza</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="profileimg">
                        <img src="../../../assets/images/ourteam/johny-williams.png" alt="">
                    </div>
                    <div class="profilename">
                        <h3>Johny Williams</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="profileimg">
                        <img src="../../../assets/images/ourteam/sanya.png" alt="">
                    </div>
                    <div class="profilename">
                        <h3>Sanya R,</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>