#Team{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    .item{
        text-align: center;
        .profileimg {
            margin-bottom: 50px;
        }
        .profilename {
            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
            }
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        background: url(../../../assets/images/service/asset-five.png);
        width: 366px;
        height: 431px;
        z-index: 111;
        background-repeat: no-repeat;
    }
}