<section id="banner">
    <div class="leftimage">
        <img src="../../../assets/images/banner/banner-vector-image.png" alt="">
    </div>
    <div class="rightimage">
        <img src="../../../assets/images/banner/banner-bottom-right.png" alt="">
    </div>
    <div class="bannercontent">
        <div class="container">
            <div class="bannercontentrow">
                <h1>Mendleson Communication and Engagement</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sed ipsum, ut quam volutpat, tortor.</p>
            </div>
        </div>
    </div>
</section>